<h1>Task 2</h1> - Selecting subsets of data

In this task, we are going to work on "filtering." We will isolate columns, then isolate rows according to some search criteria.<p>
Here is a good tutorial (much more complete than my examples below): <p>
https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c <p>
    
Please realize there are many ways to select subsets of data. These are examples of only one way.

In [1]:
# Need to import the library so we can use it
import pandas as pd

Create a new DataFrame

In [2]:
df1 = pd.DataFrame([[180121155814,-120.639457,35.248264,9,72.96],
                   [180121155815,-120.639503,35.248271,9,72.96],
                   [180121155816,-120.639556,35.248279,9,72.96],
                   [180121155817,-120.639602,35.248291,9,72.08],
                   [180121155818,-120.639648,35.248302,9,72.96],
                   [180121155819,-120.639694,35.248310,9,72.08],
                   [180121155820,-120.639732,35.248321,9,72.08],
                   [180121155821,-120.639770,35.248336,9,72.96],
                   [180121155822,-120.639808,35.248355,9,72.96],
                   [180121155823,-120.639839,35.248374,10,72.96]],
                   columns=['DateAndTimeStamp','lon','lat','sats','temp'])
df1

   DateAndTimeStamp         lon        lat  sats   temp
0      180121155814 -120.639457  35.248264     9  72.96
1      180121155815 -120.639503  35.248271     9  72.96
2      180121155816 -120.639556  35.248279     9  72.96
3      180121155817 -120.639602  35.248291     9  72.08
4      180121155818 -120.639648  35.248302     9  72.96
5      180121155819 -120.639694  35.248310     9  72.08
6      180121155820 -120.639732  35.248321     9  72.08
7      180121155821 -120.639770  35.248336     9  72.96
8      180121155822 -120.639808  35.248355     9  72.96
9      180121155823 -120.639839  35.248374    10  72.96

In [3]:
# Let's isolate the temp column and store it in the temp_col variable
temp_col = df1['temp']
temp_col # just print it out to the screen

0    72.96
1    72.96
2    72.96
3    72.08
4    72.96
5    72.08
6    72.08
7    72.96
8    72.96
9    72.96
Name: temp, dtype: float64

In [5]:
# Let's isolate just the first row of df1
# We will use the print command here
# Using iloc - the integer-location based selection 
print df1.iloc[[0]]
# Print the 3rd - the 5th rows [index 2-5]
print df1.iloc[2:5]
# All rows, but only the first and 5th columns [index 0,4]
print df1.iloc[:,[0,4]]

   DateAndTimeStamp         lon        lat  sats   temp
0      180121155814 -120.639457  35.248264     9  72.96
   DateAndTimeStamp         lon        lat  sats   temp
2      180121155816 -120.639556  35.248279     9  72.96
3      180121155817 -120.639602  35.248291     9  72.08
4      180121155818 -120.639648  35.248302     9  72.96
   DateAndTimeStamp   temp
0      180121155814  72.96
1      180121155815  72.96
2      180121155816  72.96
3      180121155817  72.08
4      180121155818  72.96
5      180121155819  72.08
6      180121155820  72.08
7      180121155821  72.96
8      180121155822  72.96
9      180121155823  72.96

In [6]:
# Determine if each row matches a criterion
# You can see that only one row matches this value
df1['DateAndTimeStamp'] == 180121155819

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: DateAndTimeStamp, dtype: bool

In [7]:
# Use the information above to select a row from the DF, if it does exist.
# df.loc[df['column_name'] == some_value]
df1.loc[df1['DateAndTimeStamp'] == 180121155819]

   DateAndTimeStamp         lon       lat  sats   temp
5      180121155819 -120.639694  35.24831     9  72.08

In [8]:
# Select a range of values for a column and create a new DF
# Syntax: df.loc[(df['column_name'] >= lower_bound_value) & (df['column_name'] <= upper_bound_value)]
df2 = df1.loc[(df1['DateAndTimeStamp'] >= 180121155818) & (df1['DateAndTimeStamp'] <= 180121155822)]
df2

   DateAndTimeStamp         lon        lat  sats   temp
4      180121155818 -120.639648  35.248302     9  72.96
5      180121155819 -120.639694  35.248310     9  72.08
6      180121155820 -120.639732  35.248321     9  72.08
7      180121155821 -120.639770  35.248336     9  72.96
8      180121155822 -120.639808  35.248355     9  72.96

<h2>Your turn: From the original DF, select only the rows where the temperature is higher than 72.10 degrees. Store that in a new DF, "df3" </h2>